.idea
*.puml
/venv
/resources
/nn_models
*.env

__pycache__/
api/__pycache__/
api/consts/__pycache__/
api/services/__pycache__/
api/routes/__pycache__/
api/models/__pycache__/
api/utils/__pycache__/

lips_processing/dataset_maker/__pycache__/
models/__pycache__/
services/extractors/__pycache__/
services/integrators/__pycache__/
services/utils/__pycache__/

nohup.out
*.csv
*.json